.video-wrap {
  position:absolute;
  top:50%;
  left:45%;
  width:10%;
  height:10%;
}

#show-more-1 {
 color:#000;
 padding:2%;
}

#show-more-2 {
 color:#000;
 display:block;
}

#show-less-2 {
 display:none;
 color:#000;
}

.arrow {
  position:relative;
  left:45%;
  width:5%;
  height:5%;
}

.arrow:hover {
  color:#5FCF80;
}
.video-wrap:hover {
  color:#5FCF80;
}

#pausebtn {
 display:none;
}
