
.box-color-1{
    background-color:#f2ebac
}

.box-color-1{
    background-color:#f2ebac
}

.box{
    border: 3px solid black;
    border-width:1px;
    width: 55px;
    height: 55px;
    padding: 10px;
    line-height: 50px;
    position:relative;
}

.empty-box{
    border: 3px black;
    border-width:1px;
    width: 55px;
    height: 55px;
    padding: 10px;
    line-height: 50px;
}

.atomic-number {
    font-size:10px;
    font-weight:bold;
    position:relative;
    text-align: center;
    top:-5px;
}

.element {
    font-size:20px;
    text-align: center;
    position:relative;
    bottom:10px;
}

.element-name {
    font-size:5px;
    text-align: center;
    position:relative;
    bottom:16px;
}

